LOBE_DB_NAME=lobechat
POSTGRES_PASSWORD=CHANGE_ME_POSTGRES_PASSWORD

RUSTFS_ACCESS_KEY=admin
RUSTFS_SECRET_KEY=CHANGE_ME_RUSTFS_SECRET
RUSTFS_LOBE_BUCKET=lobe

POSTGRES_PORT=5432
REDIS_PORT=6379
RUSTFS_PORT=39000
RUSTFS_ADMIN_PORT=39001

POSTGRES_DATA_DIR=./data/postgres
REDIS_DATA_DIR=./data/redis
RUSTFS_DATA_DIR=./data/rustfs

COMHUB_NETWORK=comhub-internal
SEARXNG_SETTINGS_FILE=../searxng-settings.yml
BUCKET_POLICY_TEMPLATE=../bucket.config.json
