server {
    listen 80;
    server_name s3-admin.vip.hezelove.cn;

    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl http2;
    server_name s3-admin.vip.hezelove.cn;

    ssl_certificate     /www/server/panel/vhost/cert/s3-admin.vip.hezelove.cn/fullchain.pem;
    ssl_certificate_key /www/server/panel/vhost/cert/s3-admin.vip.hezelove.cn/privkey.pem;

    allow 127.0.0.1;
    allow 10.0.0.0/8;
    allow 172.16.0.0/12;
    allow 192.168.0.0/16;
    deny all;

    location / {
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_buffering off;
        proxy_read_timeout 300s;
        proxy_send_timeout 300s;
        proxy_pass http://127.0.0.1:39001;
    }
}
